Source: hello-debian-packaging
Section: misc
Priority: extra
Maintainer: 林博仁 <Buo.Ren.Lin@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/Lin-Buo-Ren/Hello-Debian-Packaging

Package: hello-debian-packaging
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This is an example program for practicing Debian software packaging
 This package provided `hello-debian-packaging` command that simply prints "Hel-
 lo Debian packaging!" to the standard output device then exits.
 .
 This is an example package to serve as an example how to build a policy-comply-
 ing Debian package, the best way to use this package is to download its source
 package via `apt source hello-debian-packaging` and refer it's source code and
 try modifying.
 .
 This package might be little use to be actually installed in system.
